@media (min-width: 1200px) {
	.header {
		margin-top: 94px;
	}

	.navbar-mobile {
		display: none;
	}

	// global settings

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3.6rem;
	}

	h3 {
		font-size: 2.4rem;
	}

	// nav

	.navbar {
		&__list {
			flex-direction: row;
			position: static;
			right: 0;
		}

		.burger-btn {
			display: none;
		}
	}

	// hedaer

	.header {
		height: calc(100vh - 94px);
	}
}
