@media (min-width: 768px) {
	.container {
		padding: 0 1em;
	}

	.our-brand {
		padding: 5em 0;
		&__one-mark {
			width: 33%;
			margin-bottom: 0;
		}
	}
}

@media (min-width: 992px) {
	.header {
		background-image: url('../img/bench.jpg');
	}

	.about {
		padding: 5em 0;

		&__box-img,
		&__box-text {
			width: 50%;
			padding: 2.5em;
		}
	}

	.realization {
		padding: 10em 0 6em 0;
	}

	.realization {
		.realization__single-image {
			width: 30%;
			height: 370px;
		}
	}

	.contact {
		padding: 5em 0;
		&__dec-icon {
			opacity: unset;
		}

		&__social-media {
			width: 35%;
			margin-bottom: 0;

			img {
				width: 250px;
			}
		}

		&__form {
			width: 60%;
		}

		&__form,
		&__social-media {
			padding: 2.5em;
		}
	}
}
