@media (min-width: 768px) {
	.container {
		padding: 0 1em;
	}
}

@media (min-width: 992px) {
	.about {
		padding: 5em 0;

		&__box-img,
		&__box-text {
			width: 50%;
		}
	}

	.realization {
		padding: 10em 0 6em 0;
	}

	.contact {
		&__social-media {
			width: 35%;
			margin-bottom: 0;
		}

		&__form{
			width: 60%;
		}
	}
}
