// imports

@use 'colors' as *;

// start css

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding: 83px;
	overflow-x: hidden;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	color: $black;
	background-color: $light-grey;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 2.8rem;
	font-weight: 400;
}

h2 {
	font-size: 2.4rem;
	font-weight: 400;
}

h3 {
	font-size: 2rem;
	font-weight: 500;
}

p {
	margin-bottom: 1.5em;
}

.underline {
	position: relative;
	width: fit-content;
	margin-bottom: 1.5em;
	&::before {
		position: absolute;
		bottom: -0.5em;
		content: '';
		height: 3px;
		width: 40%;
		background-color: #dda162;
	}
}

.underline.u_center {
	margin-left: auto;
	margin-right: auto;
	&::before {
		left: 50%;
		transform: translateX(-50%);
	}
}

.bolded {
	font-weight: 700;
}

// Navigation

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background-color: $white;
	box-shadow: 0 0 5px $black;
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}

	&__icon {
		display: flex;
		img {
			height: 100%;
			max-height: 94px;
			transition: opacity 0.3s;
			&:hover {
				opacity: 0.9;
			}
		}
	}

	@media (max-width: 1199px) {
		&__list {
			top: 100%;
			width: 100%;
			text-align: center;
			background-color: $white;
			transition: transform 0.3s;
			transform: translateX(100%);
		}
	}

	&__list {
		position: absolute;
		left: 0;
		display: flex;
		flex-direction: column;
		height: calc(100vh - 85px);

		a {
			color: $black;
			padding: 2em;
			font-weight: 500;
			transition: background-color 0.2s, color 0.2s;

			&:hover {
				color: $light-brown;
				// background-color: $light-brown;
			}

			&.active {
				// background-color: $light-brown;
				color: $light-brown;
			}
		}

		&--active {
			transform: translateX(0);
		}
	}

	.burger-btn {
		width: fit-content;
		height: fit-content;
		align-self: center;
		padding: 1em;
		background-color: $light-brown;
		border: 1px solid transparent;
		cursor: pointer;

		&:focus {
			outline: none;
			border: 1px solid rgba(255, 255, 255, 0.5);
		}

		&__box {
			position: relative;
			width: 40px;
			height: 30px;
		}

		&:hover {
			.burger-btn__bars::before,
			.burger-btn__bars::after {
				width: 100%;
			}
		}

		&__bars,
		&__bars::before,
		&__bars::after {
			content: '';
			position: absolute;
			height: 3px;
			background-color: #fff;
			right: 0;
			transition: width 0.3s;
		}

		&__bars {
			top: 0;
			width: 100%;

			&::before {
				top: 13px;
				width: 70%;
			}

			&::after {
				top: 27px;
				width: 30%;
				transition-delay: 0.1s;
			}
		}
	}
}

// header

.header {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 85px;
	height: calc(100vh - 85px);
	background-image: url('../img/bench-mobile.jpg');
	background-size: cover;
	background-position: bottom;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
	}
	&__box {
		position: relative;
		color: #fff;
		z-index: 5;
	}

	p {
		margin-top: 0.5em;
		font-size: 1.8rem;
	}
}

.btn {
	display: block;
	position: relative;
	width: fit-content;
	font-size: 1.8rem;
	padding: 0.7em 1.8em;
	color: $light-brown;
	background-color: transparent;
	border: 2px solid $light-brown;
	text-transform: uppercase;
	word-break: break-all;
	transition: transform 0.1s, color 0.2s;
	overflow: hidden;

	&::before,
	&::after {
		display: block;
		content: '';
		left: 0;
		position: absolute;
		width: 120%;
		height: 50%;
		background-color: $light-brown;
		transition: transform 0.2s;
	}

	&::before {
		top: 0;
		z-index: -1;
		transform: translateX(-100%);
	}

	&::after {
		bottom: 0;
		z-index: -1;
		transform: translateX(100%);
	}

	&:hover::before,
	&:hover::after {
		transform: translateX(0);
	}

	&:hover {
		color: $white;
	}

	&:active {
		transform: scale(0.96);
	}
}

// body

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
	padding: 0 1em;
}

// main

// About us

.about {
	position: relative;
	padding: 2.5em 0;

	&__box {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		background-color: #ffffff;
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
		z-index: 1;
		overflow: hidden;
	}

	&__box-text,
	&__box-img {
		width: 100%;
		padding: 1.5em;
	}

	&__box-img {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		img {
			width: 100%;
		}
	}

	&__dec-icon {
		position: absolute;
		z-index: 0;
		bottom: 0;
		right: 0;
	}
}

// Our brand

.our-brand {
	padding: 2.5em 0;
	background-color: #fff;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);

	&__marks {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__one-mark {
		width: 100%;
		text-align: center;
		margin-bottom: 1em;

		i {
			margin-bottom: 0.3em;
			font-size: 8rem;
			color: #dda162;
		}
	}
}

// Realizations

.realization {
	padding: 2.5em 0 2em 0;
	&__box {
		text-align: center;
	}

	&__images {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 3em;

		.realization__single-image {
			position: relative;
			width: 100%;
			height: 200px;
			margin-bottom: 3em;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform 0.3s;
			}

			&::after,
			&::before {
				transition: opacity 0.3s;
			}

			&:hover {
				cursor: pointer;
				img {
					transform: scale(1.1);
				}
			}

			&:hover::before,
			&:hover::after {
				opacity: 1;
			}

			&::before {
				position: absolute;
				left: 50%;
				top: 50%;
				content: 'Powiększ';
				font-weight: 500;
				font-size: 2.4rem;
				color: $white;
				transform: translate(-50%, -50%);
				z-index: 2;
				opacity: 0;
				pointer-events: none;
			}

			&::after {
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.35);
				opacity: 0;
				pointer-events: none;
			}
		}
	}
}

// contact

.contact {
	position: relative;
	padding: 2.5em 0;
	text-align: center;
	background-color: $white;
	overflow: hidden;

	&__dec-icon {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.3;
	}

	&__box {
		position: relative;
	}

	&__child-box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: left;

		h3 {
			text-transform: uppercase;
		}

		a {
			display: flex;
			align-items: center;
			width: fit-content;
			color: $black;
			margin-bottom: 0.5em;

			i {
				width: 30px;
				display: flex;
				justify-content: center;
				font-size: 3rem;
				margin-right: 0.5em;
				color: #dda162;
			}
		}
	}

	&__social-media,
	&__form {
		background-color: $white;
		padding: 1.5em;
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
	}

	&__social-media {
		position: relative;
		overflow: hidden;
		width: 100%;
		z-index: 1;
		margin-bottom: 2.5em;
		transition: color 0.3s;

		img {
			position: absolute;
			bottom: -10%;
			right: -7%;
			width: 42%;
			width: 150px;
			transform: rotate(-45deg);
			z-index: -5;
			opacity: 0.3;
		}
	}

	.social-icon {
		transition: color 0.3s;
		&:hover {
			color: $light-brown;
		}
	}

	&__form {
		position: relative;
		width: 100%;
		overflow: hidden;
	}

	&__form-box {
		position: relative;
		margin-bottom: 1em;
		input,
		textarea {
			width: 100%;
			font-size: 1.2rem;
			padding: 1em;
			font-family: Montserrat, sans-serif;
			border-radius: 0;
			border: 2px solid $black;

			&:focus,
			&:not(:placeholder-shown) {
				outline: none;
				border: 2px solid $light-brown;
				border-radius: 0;
			}

			&::placeholder {
				opacity: 0;
				color: $black;
				font-weight: 700;
			}
		}

		textarea {
			max-width: 100%;
			width: 100%;
			min-width: 100%;
		}

		label {
			position: absolute;
			top: 1.2em;
			left: 1em;
			padding-left: 0.5em;
			padding-right: 0.5em;
			font-size: 1.2rem;
			font-weight: 700;
			background-color: $white;
			transition: top 0.2s, left 0.2s;
			pointer-events: none;
		}

		input:focus ~ label,
		textarea:focus ~ label,
		input:not(:placeholder-shown) ~ label,
		textarea:not(:placeholder-shown) ~ label {
			top: -0.6em;
			left: 2em;
		}

		.error-text {
			display: none;
			font-size: 1.2rem;
			color: red;
			padding-top: 0.2em;
			padding-left: 0.2em;
		}
	}

	&__form-box.error .error-text {
		display: block;
	}

	&__form-btn {
		width: 100%;
		color: $white;
		font-weight: 700;
		padding: 1em 0;
		font-family: 'Montserrat', sans-serif;
		border-radius: 0;
		border: 1px solid $light-brown;
		background-color: $light-brown;
		text-transform: uppercase;

		&:hover {
			cursor: pointer;
		}
	}

	.popup {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: -100%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 150px;
		padding: 0 1em;
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
		background-color: #fff;
		border: 2px solid $light-brown;
		transition: top 0.5s;
		z-index: 5;

		p {
			margin-bottom: 0;
		}
	}

	.show-popup {
		top: 50%;
	}
}

// footer

.footer {
	padding: 1.5em 0;
	text-align: center;
	background-color: #dda162;
	p {
		color: $black;
		font-size: 2rem;
		margin-bottom: 0;
	}
}

// cookie alert

.cookie-alert {
	position: fixed;
	bottom: 0;
	padding: 2em;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: $white;
	box-shadow: 0 0 10px $black;
	opacity: 0;
	transform: translateY(100%);
	animation: show-cookies 0.5s 0.5s forwards;
	z-index: 100;

	.cookie-btn {
		background-color: $light-brown;
		padding: 0.7em 1.8em;
		font-size: 1.6rem;
		border: 0;
		color: $white;
		cursor: pointer;
		transition: transform 0.1s;
	}

	&.hide {
		display: none;
	}
}

// popup image

.popup-img {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.8);

	.close-btn {
		position: absolute;
		top: 0;
		right: 10px;
		font-size: 5rem;
		padding: 0.5em;
		background-color: transparent;
		border: 0;
		color: $white;
		cursor: pointer;
	}

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 95%;
	}
}

// keyframes

@keyframes show-cookies {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// media queries
@import 'small';
@import 'medium';
@import 'large';
